.about{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}
html{
    background-color: #0B1221;
    color: #B0B8C3;
}


.row1{
    width: 45%;
}
.row2{
    width: 45%;
}
.about-me p,.Certifications p,.experience p,.Education p{
    font-size: 20px;
}
.about-me h1,.Certifications h1,.experience h1,.Education h1{
    font-size: 30px;
}
.about-me{
    height:auto;
    width: auto;
    border: 2px solid #1D4ED8;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: justify;
    background-color: #1d4fd84a;
    box-shadow: 0 0 15px 10px rgba(0, 102, 255, 0.2);
}

.Certifications{

    border: 2px solid #1D4ED8;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: justify;
    background-color: #1d4fd84a;
    box-shadow: 0 0 15px 10px rgba(0, 102, 255, 0.2);
    margin-top: 30px;
}

.experience{
    height:auto;
    width: auto;
    border: 2px solid #1D4ED8;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: justify;
    background-color: #1d4fd84a;
    box-shadow: 0 0 15px 10px rgba(0, 102, 255, 0.2);
    margin-top: 30px;
}

.Education{
    height:auto;
    width: auto;
    border: 2px solid #1D4ED8;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: justify;
    background-color: #1d4fd84a;
    box-shadow: 0 0 15px 10px rgba(0, 102, 255, 0.2);
    margin-top: 30px;
}




@media (max-width: 884px) {

    .row1{
    width: 100%;
    }
    .row2{
    width: 100%;
}
    .about{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
}
}

@media (max-width: 429px) {

    
}