.about{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}
html{
    background-color: #0B1221;
    color: #B0B8C3;
}


.row1{
    width: 45%;
}
.row2{
    width: 45%;
}
.about-me p,.Certifications p,.experience p,.Education p{
    font-size: 20px;
}
.about-me h1,.Certifications h1,.experience h1,.Education h1{
    font-size: 30px;
}

.about-me, .Certifications,.experience, .Education{
    border: 1px solid #1D4ED8;
    border-radius: 30px;
    padding: 40px 30px;
    text-align: justify;
    background-color: #1d4fd84a;
    box-shadow: 0 0 10px 10px rgba(0, 102, 255, 0.15);
}

.Certifications, .Education{
    margin-top: 30px;
}


@media (max-width: 884px) {

    .row1{
    width: 100%;
    }
    .row2{
    width: 100%;
}
    .about{
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    
}
    
    .about-me{
    margin: 0px 20px 0px 20px;
}

.Certifications, .experience,.Education{
    margin: 15px 20px 0px 20px;
}


.about-me p,.Certifications p,.experience p,.Education p{
    font-size: 20px;
}
.about-me h1,.Certifications h1,.experience h1,.Education h1{
    font-size: 45px;
}
}

@media (max-width: 429px) {  
    .about-me{
    margin: 0px 10px 0px 10px;
}
.Certifications,.Education, .experience{
    margin: 15px 10px 0px 10px;
}
.about-me p,.Certifications p,.experience p,.Education p{
    font-size: 16px;
}
.about-me h1,.Certifications h1,.experience h1,.Education h1{
    font-size: 30px;
}
}