@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.touch h1{
    font-family: "inter", serif;
    font-weight: 800;
    font-size: 3vw;
    background: linear-gradient(90deg, #1D4ED8 0%, #3B82F6 48.56%, #1D4ED8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.touch p{
    font-size: 20px;
    text-align: center;
}
.touch{
    padding-bottom: 70px;
}
.contact{
    display: flex;
    justify-content: center;
    width: 80vw;
    height: auto;
    gap: 150px;
    background-color: #1d4fd836;
    border-radius: 50px;
    padding: 50px 0px;
}
.connect-img img{
    width: 25vw;
    height: auto;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
}

#name , #email{
    width: 25vw;
    height: auto;
    padding: 10px 20px 10px 20px;
    background-color: transparent;
    border: 2px solid #1D4ED8;
    color: #B0B8C3;
    outline: none;
    border-radius: 50px;
}
#message{
    width: 25vw;
    min-height: 14vw;
    background-color: transparent;
    border: 2px solid #1D4ED8;
    color: #B0B8C3;
    outline: none;
    border-radius: 25px;
    resize: vertical;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px 20px 10px 20px;
}
#name::placeholder, #email::placeholder, #message::placeholder{
    color: #B0B8C3;
}

.submit{
    background-color: transparent;
    padding: 10px 20px;
    width: 200px;
    border: 2px solid #1d4fd872;
    color: #B0B8C3;
    border-radius: 50px;
}

.submit:hover{
    border: 2px solid #1D4ED8;
}

.connect-img1 div img{
    width: 40px;
    height: auto;
    border-radius: 50%;
    border: none;
    outline: none;
}
/* .connect-img1 div{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
} */
.connect-img1{
    display: flex;
    justify-content: center;
    gap: 30px;
    
}
.cm2{
    display: none;
}
.connect-img1 img:hover{
     box-shadow: 0 0 15px 10px rgba(0, 102, 255, 0.8);
}
@media (max-width: 884px){
    .connect-imgs{
        display: none;
    }
    .cm2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    height: auto;
    gap: 0px;
    background-color: #1d4fd836;
    border-radius: 50px;
    padding: 50px 0px;
    }
    .touch h1{
        font-size: 6vw;
    }
    #name , #email{
        width: 50vw;
    }
    #message{
    width: 50vw;
    min-height: 20vw;
    }

}
@media (max-width: 429px) {
    .connect-imgs{
        display: none;
    }
    .cm2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: auto;
    gap: 0px;
    background-color: #1d4fd836;
    border-radius: 20px;
    padding: 20px 0px;
    }
    .touch h1{
        font-size: 6vw;
    }
    #name , #email{
        width: 75vw;
    }
    #message{
    width: 75vw;
    min-height: 30vw;
    }
    .connect{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .touch{
    padding-bottom: 20px;
}
.touch p{
    font-size: 16px;
    text-align: center;
    padding: 0px 10px;
}
}