@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#connect h1{
    font-family: "inter", serif;
    font-weight: 800;
    font-size: 3vw;
}

#connect p{
    font-size: 20px;
}